*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  height: 50px;
  background-color: #ff9a4b;
}

main {
  width: 960px;
  margin: 0 auto;
  padding: 50px 0;
  display: flex;
}

.item {
  width: 300px;
  padding: 10px;
  background-color: #eeeeee;
  position: relative;
  margin-right: 30px;
}

.item:last-child {
  margin-right: 0;
}

.step-num {
  background-color: #ff9a4b;
  color: white;
  display: inline-block;
  position: absolute;
  top: 0px;
  left: 0px;
}

.item-image1 {
  height: 150px;
  background-image: url(img/flow01.png);
  background-size: cover;
  background-position: bottom;
  margin: 0 auto;
}

.item-image2 {
  height: 150px;
  background-image: url(img/flow02.png);
  background-size: cover;
  background-position: bottom;
  margin: 0 auto;
}

.item-image3 {
  height: 150px;
  background-image: url(img/flow03.png);
  background-size: cover;
  background-position: bottom;
  margin: 0 auto;
}

.title {
  margin: 0 auto;
  padding: 15px 0 5px 0;
}

.item-text {
  margin: 0 auto;
}

footer {
  height: 50px;
  background-color: #aaaaaa;
}